* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 19vmin;
  width: 19vmin;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: #ffffc7bb;
  color: red;
  font-size: 8vmin;
}
.reset {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
}
#new_btn {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
}
#msg {
  background-color: pink;
  font-size: 5vmin;
}
.msg_container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
.msg_container #msg {
  color: green;
  font-size: 5vmin;
}
